/*CARROUSEL*/

.slideContainer{
    padding: 1em;

}

.slideWrapper{
    position: relative;
    max-width: 35em;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 12/5;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /*box-shadow: 0 1.5em 3rem -0.75rem hsla(0, 0%, 0%, 0.25);*/
    border-radius: 0.2rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit:scale-down;
}

.sliderNav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.sliderNav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: black;
    opacity: 0.75;
    transition: opacity ease 250ms;

}


.sliderNav a:hover{
    opacity: 1;

}